table {
  width: 100%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
  &.td, th {
    width: 50%;
  }
}

/* td, th {
  width: 12%;
} */

  .inner-section {
    padding: 15px 0px;
  }

  .btn-section {
    display: flex;
    justify-content: end;
    gap: 25px;
  }