
@if (userService.spinnerCounter$ | async) {
  <div class="overlay show"> 
    <div class="spinner-border" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
}
@if(isCheckoutRoute()) { 
  <div class="">
    <app-header (sideNavToggled)="sideNavStatus = $event;"></app-header>
    <main>
        <app-sidebar [sideNavStatus]="sideNavStatus" [ngClass]="{'app-sidenav-open' : sideNavStatus}"></app-sidebar>
  
        <div class="main-content p-3" [ngClass]="{'main-content-shrink' : sideNavStatus }"> 
            <router-outlet></router-outlet>
        </div>
    </main>
  </div>
} @else {
  <router-outlet></router-outlet>
}

<!-- <router-outlet></router-outlet> -->